# =====================================================
# Python / Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.env
*.sqlite3
*.log
backend/tests/__pycache__/

# =====================================================
# Flutter (spécifique à ton app frontend/gpro_gescom)
frontend/gpro_gescom/.dart_tool/
frontend/gpro_gescom/.flutter-plugins
frontend/gpro_gescom/.flutter-plugins-dependencies
frontend/gpro_gescom/.packages
frontend/gpro_gescom/.metadata
frontend/gpro_gescom/build/
frontend/gpro_gescom/.idea/
frontend/gpro_gescom/test/.dart_tool/
*.iml

# =====================================================
# Desktop builds
frontend/gpro_gescom/windows/
frontend/gpro_gescom/macos/
frontend/gpro_gescom/linux/

# =====================================================
# Docker
*.dockerignore

# =====================================================
# Autres
.DS_Store
.vscode/
*.swp

